<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion academica</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'principal:home' %}">Home</a></li>
            <li><a href="{% url 'estudiantes:tabla' %}">Ver estudiantes</a></li>
            <li><a href="{% url 'estudiantes:agregar' %}">Cargar estudiante</a></li>
            <li><a href="{% url 'estudiantes:curso' %}">Curso</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>